body,a,h1,h2,h3,h4,h5,h6,li,ul,ol,label,input,select,span {
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  font-size: 2.5em;
  font-weight: 300;
}

h2{
  font-size: 1.5em;
  font-weight: 600;
}

h3{
  font-size: .8em;
  color: $dark-gray;
}

a{
  color: $light-blue !important;
}

hr{
  border-bottom: 1px solid $light-gray;
}

.text-right{
  text-align: right;
  padding-top: 10px;
}

.wrapper{
  padding: 0 40px;
  margin-bottom: 50px;
}

.search{
  border-radius: 100px;
  padding: 20px;
  margin-bottom: 20px;
}

.header{
  border-bottom: 1px solid $light-gray;
  background-color: $offwhite;
  margin-bottom: 20px;
  .right{
    height: 100%;
    .right-content{
      float: right;
      width: 200px;
    }
    .avatar{
      float: left;
      border: 1px solid lightgrey;
      margin: 5px 15px;
      width: 55px;
      height: 55px;
      background-image: url(../assets/img/prof.jpg);
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
    .name{
      a{
        font-size: 1.2em;
        margin-top: 10px;
      }
    }
    .user-type{

    }
  }
}

.certification{
  // background-color: $offwhite;
  border: 1px solid $light-blue;
  padding: 20px;
  margin: 20px 0;
  .icon{
    width: 100%;
    height: 120px;
  }
}

.pad-20{
  padding: 20px 0;
}

.info-row{
  &:nth-child(2){
    border-left: 1px solid $light-blue;
  }
  &:nth-child(3){
    border-left: 1px solid $light-blue;
  }
  &:nth-child(5){
    border-left: 1px solid $light-blue;
  }
  &:nth-child(6){
    border-left: 1px solid $light-blue;
  }
  span{
    &.value{
      float: right;
      font-weight: 600;
    }
  }
}



.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: $light-blue;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: $dark-blue;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}

.inner-wrap{
  padding: 0 5vw;
}

select{
  border-radius: 100px;
}

.footer{
  position: fixed;
  bottom: -10px;
  left: 0;
  padding-left: 15px;
  width: 100%;
  padding-top: 5px;
  background-color: white;
  border-top: 1px solid $offwhite;
  p{
    font-size: 12px;
    color: $dark-blue;
  }
}
