body {
  margin: 0;
}
.home-wrap{
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
  width: 100%;
  min-height: 600px;
  .left{
    color: $offwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: $light-blue;
    padding: 5vw;
    h1{
      font-size: 6em;
    }
    p{
      img{
        padding-left: 10px;
        height: 20px;
      }
    }
  }
  .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: $offwhite;
  }
}
