<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
	</head>
	<body>
		<div class="small-12 columns header">
			<div class="small-6 columns">
				<h1><a href="/">Veripharm</a></h1>
			</div>
			<div class="small-6 right columns">
				<div class="right-content">
					<div class="avatar"></div>
					<div class="user-info">
						<div class="name">
							<a href="#">Austin Ban</a>
						</div>
						<div class="user-type">
							<h3>Manufacturer</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row wrapper">
      <div class="small-12 pad-20">
        <h1><a href ="javascript:history.back()"><i class="fa fa-arrow-circle-o-left"> </i> </a> Transaction History</h1>
      </div>
      <h3>NDC 55555 666 77 SN 12345678901234567890</h3>
      <h3 style="color: #E74C3C;">Error In Blockchain Verification</h3>

      <div class="small-12 pad-20 columns">
				<div class="small-4 columns info-row">
					<span class="type">Date Recieved</span>
					<span class="value">01/08/2016</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Received From</span>
					<span class="value">Mixers Inc.</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Product Type</span>
					<span class="value">Polymer Binder</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Date Sent Out</span>
					<span class="value">13/09/2016</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Sent To</span>
					<span class="value">Wholesale Drugs Inc.</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Final Product Type</span>
					<span class="value">Viagra</span>
				</div>
			</div>
      <div class="small-12 pad-20">
        <h1>Conflict</h1>
      </div>
      <div class="small-5 columns">
        <p style="color: #E74C3C;">
          Please include the below information with any support tickets.<br><br>
          Error receiptId/hashes: <br><br>
          57f045e5e3c165207e96ef08: a8845ac3296fd9e5a398f7f<br>c29710056572ce4558b758f2d7819f190e0e7b086 <br><br>
          57f045f258dcdee6782f39a4: b94d27b9934d3e08a52e52d<br>7da7dabfac484efe37a5380ee9088f7ace2efcde9<br><br>
          57f045f464cd05042ac3f78c: 10758a85d704ee49aa8c42b<br>ff06780b86e60eede5d924ca1e586f666ef4078a1 <br>
          conflicting with new document - hash history:<br><br>
          ec6e5217b0bb3397b45da4c4c6e450af24f8d23f183d<br>442f804697ff714fee84<br><br>
          12c56cfcdc0249002c2a4b1f7fd957c7149fc45d0e99<br>20594c7c78c17dcc34bd<br><br>
          136ebd2d5213369ed64053fc6a29b540fc227ddacc31<br>53dad3499d1220d3f0e9<br><br>
        </p>
      </div>
      <div class="small-7 graph columns">
        <img src="assets/img/graph.svg" alt="" class="icon">
      </div>

			<div class="footer">
				<p>All content copyright 2016 Veripharm</p>
			</div>
		</div>
	</body>
</html>
