<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
    Index Page
		<a href="/logout">logout</a>
		<a href="/login">login</a>
		<a href="/signup">signup</a>

		<% if( loggedin ){ %>

			<h1>logged in</h1>

		<% }else{ %>

				<h1>logged out</h1>

		<% } %>
	</body>
</html>
