<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
	</head>
	<body>
		<div class="home-wrap columns">
			<div class="small-12 medium-6 large-8 columns left">
				<h1>Veripharm</h1>
				<h2>From raw material to the hands of the patient, Veripharm ensures quality and accountability at every step of the drug supply chain.</h2>
				<img src="assets/img/flow.svg" alt="">
				<p>Powered by <img src="assets/img/tierion.png" alt=""></p>
			</div>
			<div class="small-12 medium-6 large-4 columns right">
				<h1>Login</h1>
				<label>Username:</label>
				<input type="text" name="companyName" placeholder="ie: Bill Gates"/>
				<label>Password:</label>
				<input type="text" name="companyName" placeholder="ie: **********"/>
			</div>
		</div>
	</body>
</html>
