<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
    Index Page
		<a href="/logout">logout</a>
		<a href="/login">login</a>
		<a href="/signup">signup</a>

		<ul>
			<% for(var i=0; i < materials.length; i++) { %>
				 <li><%= materials[i].name %></li>
			<% } %>
		</ul>

		<p>
			<a href="/create_material">Create a new material</a>
		</p>
		<p>
			<a href="/create_transfer">Transfer Materials</a>
		</p>
	</body>
</html>
