<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form action="/signup" method="post">
	    <div>
	        <label>Username:</label>
	        <input type="text" name="username"/>
	    </div>
	    <div>
	        <label>Password:</label>
	        <input type="password" name="password"/>
	    </div>

			</div>
				<label>User Stage:</label>
				<select class="form-control" name="stage">
						<option value="57f02e2b7f3b0bfe2fee4587">Raw Materials</option>
						<option value="57f02e2c7f3b0bfe2fee4588">API</option>
						<option value="57f02e2c7f3b0bfe2fee4589">Manufacturer</option>
						<option value="57f02e2c7f3b0bfe2fee458a">Wholesale Distributor</option>
						<option value="57f02e2c7f3b0bfe2fee458b">Pharmacy</option>
						<option value="57f02e2c7f3b0bfe2fee458c">Consumer</option>
				</select>
			</div>

			<div>
	        <label>Company Name:</label>
	        <input type="text" name="companyName"/>
	    </div>

			<div>
	        <label>Address:</label>
	        <input type="text" name="companyAddress"/>
	    </div>

			<div>
	        <label>Phone:</label>
	        <input type="text" name="companyPhone"/>
	    </div>

	    <div>
	        <input type="submit" value="Register"/>
	    </div>
	</form>
	</body>
</html>
