<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
	</head>
	<body>
		<div class="small-12 columns header">
			<div class="small-6 columns">
				<h1><a href="/">Veripharm</a></h1>
			</div>
			<div class="small-6 right columns">
				<div class="right-content">
					<div class="avatar"></div>
					<div class="user-info">
						<div class="name">
							<a href="#">Austin Ban</a>
						</div>
						<div class="user-type">
							<h3>Manufacturer</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row wrapper">
      <div class="row">
				<div class="small-12">
					<h1><a href ="javascript:history.back()"><i class="fa fa-arrow-circle-o-left"> </i> </a> Submit Lot Form</h1>
				</div>
			</div>

			<div class="info-input">
        <table>
          <tbody>
            <tr>
              <td>API Lot #:</td>
							<td><input type="text" name="lastname" placeholder="ie: 123456..."></input></td>
            </tr>
						<tr>
              <td>Standardized Numerical ID</td>
							<td><input type="text" name="lastname" placeholder="ie: 6434718192834"></input></td>
            </tr>
						<tr>
              <td>Lot Number</td>
							<td><input type="text" name="lastname" placeholder="ie: Viagra"></input></td>
            </tr>
						<tr>
              <td>Expiration Date</td>
							<td><input type="text" name="lastname" placeholder="ie: 1000"></input></td>
            </tr>
          </tbody>
        </table>
			</div>

			<div class="info-input">
        <table>
          <tbody>
						<tr>
              <td>Send To:</td>
							<td><input type="text" name="lastname" placeholder="ie: Pharma Inc"></input></td>
            </tr>
          </tbody>
        </table>
      </div>
			<div class="small-12">
				<a href="/" class="button-small text-right">Submit</a>
			</div>
			<div class="footer">
				<p>All content copyright 2016 Veripharm</p>
			</div>
		</div>
	</body>
</html>
