<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
	</head>
	<body>
		<div class="small-12 columns header">
			<div class="small-6 columns">
				<h1><a href="/">Veripharm</a></h1>
			</div>
			<div class="small-6 right columns">
				<div class="right-content">
					<div class="avatar"></div>
					<div class="user-info">
						<div class="name">
							<a href="#">Austin Ban</a>
						</div>
						<div class="user-type">
							<h3>Manufacturer</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row wrapper">
      <div class="row">
				<div class="small-12">
					<h1><a href ="javascript:history.back()"><i class="fa fa-arrow-circle-o-left"> </i> </a> Product Transfer Form</h1>
				</div>
			</div>
			<hr>

			<form action="/create_transfer" method="post">

			<div class="inner-wrap">
				<h1 class="pad-20">Choose Product:</h1>
				<div class="control-group">
					<% if (materials){ %>
						<% for(var i=0; i < materials.length; i++) { %>
							<label class="control control--checkbox"><%= materials[i].name %>
								<input type="checkbox" name="sourceMaterials" value="<%= materials[i]._id %>"/>
								<div class="control__indicator"></div>
							</label>
						<% } %>
					<% } %>
				</div>
			  <hr>
				<h1 class="pad-20">Send To:</h1>
				<select class="form-control" name="targetUser">
					<% if (targetUsers){ %>
						<% for(var i=0; i < targetUsers.length; i++) { %>
							<option value="<%= targetUsers[i].id %>"><%= targetUsers[i].companyName %></option>
						<% } %>
					<% } %>
				</select>
				<hr>
				<h1 class="pad-20">Name:</h1>
				<input type="text" name="materialName" placeholder="ie: Viagra"/>
				<hr>
				<h1 class="pad-20">National Drug Code:</h1>
				<input type="text" name="nationalDrugCode" placeholder="ie: 98876"/>
				<hr>
				<h1 class="pad-20">Lot Number:</h1>
				<input type="text" name="lotNumber" placeholder="ie: 12345"/>
				<hr>
				<h1 class="pad-20">Verify:</h1>
				<div class="control-group">
					<label class="control control--checkbox" name="authorized" value="authorized">Authorized as required under DSCSA?
						<input type="checkbox"/>
						<div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox" name="sourceAuthorized" value="sourceAuthorized">Received the product from a person that is authorized as required under DSCSA?
						<input type="checkbox"/>
						<div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox" name="recievedTsFromSource" value="recievedTsFromSource">Received transaction information and a transaction statement from the prior owner of the product, as required under the law?
						<input type="checkbox"/>
						<div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox" name="notIllegal" value="notIllegal">Did not knowingly ship a suspect or illegitimate product?
						<input type="checkbox"/>
						<div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox" name="complied" value="complied">Had systems and processes in place to comply with verification requirements under the law?
						<input type="checkbox"/>
						<div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox" name="notFalseInfo" value="notFalseInfo">Did not knowingly provide false transaction information?
						<input type="checkbox"/>
						<div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox" name="notAltered" value="notAltered">Did not knowingly alter the transaction history?
						<input type="checkbox"/>
						<div class="control__indicator"></div>
					</label>
				</div>

				<hr>
				<div class="small-12">
					<input class="button-small text-right" type="submit" value="Submit"/>
				</div>
			</div>
			</form>

			<div class="footer">
				<p>All content copyright 2016 Veripharm</p>
			</div>
		</div>
	</body>
</html>
