<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
	</head>
	<body>
		<div class="small-12 columns header">
			<div class="small-6 columns">
				<h1><a href="/">Veripharm</a></h1>
			</div>
			<div class="small-6 right columns">
				<div class="right-content">
					<div class="avatar"></div>
					<div class="user-info">
						<div class="name">
							<a href="#">Austin Ban</a>
						</div>
						<div class="user-type">
							<h3>Manufacturer</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row wrapper">
			<div class="row columns">
				<div class="small-8 columns">
					<h1><a href ="javascript:history.back()"><i class="fa fa-arrow-circle-o-left"> </i> </a> Overview Lot #1489283</h1>
				</div>
				<div class="small-4 text-right columns"><a href="/submit" class="button-small">Submit This Lot</a></div>
			</div>

			<div class="small-12 pad-20 columns">
				<div class="small-4 columns info-row">
					<span class="type">Date Recieved</span>
					<span class="value">01/08/2016</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Received From</span>
					<span class="value">Mixers Inc.</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Product Type</span>
					<span class="value">Polymer Binder</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Date Sent Out</span>
					<span class="value">13/09/2016</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Sent To</span>
					<span class="value">Wholesale Drugs Inc.</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Final Product Type</span>
					<span class="value">Viagra</span>
				</div>
			</div>

			<div class="small-12 columns certification">
				<div class="small-2 columns">
					<img src="assets/img/check.svg" alt="" class="icon">
				</div>
				<div class="small-10 columns">
					<h1>Transaction Information</h1>
					<h3 style="color: #3498DB;">Matches Blockchain Verification</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<a href="#" class="button-small">Check Doc</a>
				</div>
			</div>

			<div class="small-12 columns certification">
				<div class="small-2 columns">
					<img src="assets/img/x.svg" alt="" class="icon">
				</div>
				<div class="small-10 columns">
					<h1>Transaction History</h1>
					<h3 style="color: #E74C3C;">Error In Blockchain Verification</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<a href="#" class="button-small">Check Doc</a>
				</div>
			</div>

			<div class="small-12 columns certification">
				<div class="small-2 columns">
					<img src="assets/img/check.svg" alt="" class="icon">
				</div>
				<div class="small-10 columns">
					<h1>Transaction Statement</h1>
					<h3 style="color: #3498DB;">Matches Blockchain Verification</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<a href="#" class="button-small">Check Doc</a>
				</div>
			</div>

		</div>

		<div class="footer">
			<p>All content copyright 2016 Veripharm</p>
		</div>
	</body>
</html>
