<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
	</head>
	<body>
		<div class="small-12 columns header">
			<div class="small-6 columns">
				<h1><a href="/">Veripharm</a></h1>
			</div>
			<div class="small-6 right columns">
				<div class="right-content">
					<div class="avatar"></div>
					<div class="user-info">
						<div class="name">
							<a href="#">Austin Ban</a>
						</div>
						<div class="user-type">
							<h3>Manufacturer</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row wrapper">
			<div class="row columns">
				<div class="small-8 columns">
					<h1><a href ="javascript:history.back()"><i class="fa fa-arrow-circle-o-left"> </i> </a> Lot Overview</h1>
					<h3>NDC 55555 666 77 SN 12345678901234567890</h3>
				</div>
				<div class="small-4 text-right columns"><a href="/submit" class="button-small">Submit This Lot</a></div>
			</div>

			<div class="small-12 pad-20 columns">
				<div class="small-4 columns info-row">
					<span class="type">Date Recieved</span>
					<span class="value">01/08/2016</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Received From</span>
					<span class="value">Mixers Inc.</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Product Type</span>
					<span class="value">Polymer Binder</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Date Sent Out</span>
					<span class="value">13/09/2016</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Sent To</span>
					<span class="value">Wholesale Drugs Inc.</span>
				</div>
				<div class="small-4 columns info-row">
					<span class="type">Final Product Type</span>
					<span class="value">Zocor</span>
				</div>
			</div>

			<div class="small-12 columns certification">
				<div class="small-2 columns">
					<img src="assets/img/check.svg" alt="" class="icon">
				</div>
				<div class="small-10 columns">
					<h1>Transaction Information</h1>
					<h3 style="color: #3498DB;">Matches Blockchain Verification</h3>
					<p>
						This document contains
						proprietary or established name or names of
						the product,
						Strength and dosage form of the product,
						National Drug Code number of the product,
						Container size,
						Number of containers,
						Lot number of the product,
						Date of the transaction,
						Date of the shipment, if more than 24 hours
						after the date of the transaction, and
						Business name and address of the person
						from whom and to whom ownership is being
						transferred.
					</p>
					<a href="#" class="button-small">Check Doc</a>
				</div>
			</div>

			<div class="small-12 columns certification">
				<div class="small-2 columns">
					<img src="assets/img/x.svg" alt="" class="icon">
				</div>
				<div class="small-10 columns">
					<h1>Transaction History</h1>
					<h3 style="color: #E74C3C;">Error In Blockchain Verification</h3>
					<p>
						A statement in paper or electronic form, including the transaction
						information for each prior transaction going back to the manufacturer of the product
					</p>
					<a href="/error" class="button-small">Check Doc</a>
				</div>
			</div>

			<div class="small-12 columns certification">
				<div class="small-2 columns">
					<img src="assets/img/check.svg" alt="" class="icon">
				</div>
				<div class="small-10 columns">
					<h1>Transaction Statement</h1>
					<h3 style="color: #3498DB;">Matches Blockchain Verification</h3>
					<p>
						A statement, in paper or electronic form, that the entity transferring ownership in a transaction —
						Is authorized as required under DSCSA,
						Received the product from a person that is authorized as required under DSCSA,
						Received transaction information and a transaction statement from the prior owner of the product, as required under the law,
						Did not knowingly ship a suspect or illegitimate product,
						Had systems and processes in place to comply with verification requirements under the law,
						Did not knowingly provide false transaction information, and
						Did not knowingly alter the transaction history.
					</p>
					<a href="#" class="button-small">Check Doc</a>
				</div>
			</div>

		</div>

		<div class="footer">
			<p>All content copyright 2016 Veripharm</p>
		</div>
	</body>
</html>
